@page
@model LeQuocVietRazor.Pages.user.Logout

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="vi">
<head>
    <title>Logout</title>
</head>
<body>
<div>
    <div>
        <h1>Logout</h1>
        <form method="post">
            <input type="submit" value="Logout" class="btn btn-primary" />
        </form>
    </div>
</div>
</body>
</html>