@page
@model LeQuocVietRazor.Pages.Category.CreateModel

@{
    ViewData["Title"] = "Create";
    var role = HttpContext.Session.GetString("Role");
    
    if (role == null)
    {
        Response.Redirect("/user/Login");
    }
    else if (int.Parse(role) != 1)
    {
        Response.Redirect("/news/Index");
    }
}

<h1>Create</h1>

<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Category.CategoryName" class="control-label"></label>
                <input asp-for="Category.CategoryName" class="form-control" />
                <span asp-validation-for="Category.CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category.CategoryDesciption" class="control-label"></label>
                <input asp-for="Category.CategoryDesciption" class="form-control" />
                <span asp-validation-for="Category.CategoryDesciption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

